@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
}
body {
  width: 1280px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
/* header section styles start  */
.sign-in-btn {
  background-color: #f5f5f5;
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(0, 106, 80);
}
.sign-in-btn:hover {
  cursor: pointer;
  background-color: #020c0a16;
}
header nav {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100px;
}
/* header section styles end  */

/* hero section styles start */
.hero {
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 80px 60px;
}

.hero-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: #0e0e0e80;
  margin-bottom: 16px;
}
.hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: left;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.hero img {
  width: 470px;
}
.hero-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 17px 34px 17px 34px;
  color: #ffffff;
  background-color: #006a50;
  border-radius: 5px;
  border: none;
}
.hero-btn:hover {
  cursor: pointer;
  background-color: #006a50df;
}
/* hero section styles end  */

/* pillars section styles start  */
.pillars h1 {
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  margin-top: 80px;
}
.pillars-card {
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.805);
  flex: 1 1 0%;
  padding: 24px;
}
.pillars-card h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 25px;
}
.pillars-card p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
}
.pillar-cards-parent {
  display: flex;
  gap: 24px;
}
/* pillar section styles end  */

/* vision section styles start  */
.future-vision h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 80px;
  margin-bottom: 24px;
}
.future-vision-para {
  margin-bottom: 32px;
}
.future-vision-para p {
  color: rgba(14, 14, 14, 0.7);
}
.vision-cards-parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.vision-card-1 {
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
}
.vision-card-2 {
  background-color: #c6e4d6;
  padding: 32px;
}
.vision-card-3 {
  background-color: #f7ebcf;
  padding: 32px;
}
.vision-card button {
  padding: 11px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: white;
  border: none;
  margin-top: 24px;
}
.vision-card button:hover {
  cursor: pointer;
}
.vision-card-1 button {
  background-color: #5490f5;
}
.vision-card-2 button {
  background-color: #09a15c;
}
.vision-card-3 button {
  background-color: #ffc239;
}
/* vision section styles end */

/* advisor speech section start  */
.advisor-speech {
  margin-top: 32px;
  background-color: white;
  border-radius: 24px;
  padding: 48px 24px;
}
.advisor-content {
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;
}
.advisor-speech .p1 {
  color: rgba(14, 14, 14, 0.8);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}
.advisor-speech p {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.advisor-speech h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 4px 0px;
}
/* .advisor-speech section styles end  */

/* opinion section start  */

/* news section start ***************** */
.recent-news {
  margin-top: 80px;
}
.recent-news h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.news-p1 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.news-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-card1 {
  padding: 48px;
  background-color: white;
  display: flex;
  border-radius: 24px;
  gap: 32px;
}
.news-card1 img {
  border-radius: 24px;
}
.card-text h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.card-text img {
  margin: 12px 0;
}
.card-text p {
  margin: 12px 0;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.card-text button {
  margin-top: 32px;
  padding: 13px 26px;
  background-color: #006a50;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  border: none;
}
.card-text button:hover {
  cursor: pointer;
  background-color: #006a50e8;
}
